
<body class="body">
  <div class="div-block-2">
    <div class="header"></div>
    <div class="div-block-3">
      <img src=".././assets/Group-3.svg" loading="lazy" width="341" alt="" class="image">
      <img src=".././assets/Group-4.svg" loading="lazy" width="437" alt="" class="image-2">
      <img src=".././assets/Group-1.svg" loading="lazy" width="271" alt="">
      <div class="continueform" (click)="showForm()"><img src=".././assets/down.svg" loading="lazy" alt=""></div>
      
      <div class="form_container">

        <form (ngSubmit)="onSubmit()" style="min-width:80%;">
          <div class="formheader"> <img src=".././assets/Group-3.svg"> </div>
          
          <input type="text" id="fname" [(ngModel)]="formData.name" name="fname" class="input" required placeholder="Nombres">
          <input type="text" id="lname" [(ngModel)]="formData.last_name" name="lname" class="input" required placeholder="Apellidos">
          <input type="email" id="email" [(ngModel)]="formData.email" name="email" class="input" required placeholder="Correo electrónico">
          <input type="text" id="identity"  [(ngModel)]="formData.id_number" name="identity" class="input" required placeholder="Identidad">
          <input type="text" id="phone"  [(ngModel)]="formData.phone" name="phone" class="input" required placeholder="Celular">
          <input type="text" id="city" [(ngModel)]="formData.city" name="city" class="input" required placeholder="Ciudad">
          <input type="text" id="station" [(ngModel)]="formData.station" name="station" class="input" required placeholder="Estación">
          
          
          <div class="uploadcontainer">
          <div style="color: white; margin-bottom: 10px;"> Carga una imagen
            de tu factura</div>
            <div class="inputfile"> 
              <img src=".././assets/uploadUNO.png" loading="lazy" height="60px " alt="" >
              <input type="file" (change)="handleFileInput($event)" id="upload" name="upload" class="file" required placeholder="Examinar" #fileInput>
            </div>
          </div>

          <div class="suscribe"> 
            <label style="color:white; font-weight: 100;">
<input type="checkbox" [(ngModel)]="formData.suscribe" name="opcion1" value="valor1">
                 Deseo recibir información sobre UNO honduras y futuras promociones

            </label>
          </div>

          <div>  <button class="buttonSend">
            ENVIAR  
          </button>

               <div class="spiner" >
                <p-progressSpinner class="spinner" *ngIf="isLoading" styleClass="w-10px h-10px" strokeWidth="6"  animationDuration=".5s"></p-progressSpinner>

               </div>  

               <p-messages  [(value)]="messages"></p-messages>


           </div>
         
      </form>
      
      
      
      </div>
      
      <div class="footerlogo"><img src=".././assets/Group-5.svg" loading="lazy" alt="" class="image-3"></div>
    </div>
    <div style="background-color: white; height: 40px; width: 100%; margin-top: -20px;">  </div>
  </div>

  

</body>

