<div>
  <h1>{{ title }}</h1>
  <h2>Listado de la tabla ficha_salida:</h2>
  <table>
    <thead>
      <tr>
        <th>Avis Location</th>
        <th>Avis Location ID</th>
        <th>Avis User</th>
        <th>Avis User ID</th>
        <th>Code</th>
        <th>B ID</th>
        <th>MVA</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of fichaSalidaData">
        <td>{{ item.avis_location }}</td>
        <td>{{ item.avis_location_id }}</td>
        <td>{{ item.avis_user }}</td>
        <td>{{ item.avis_user_id }}</td>
        <td>{{ item.code }}</td>
        <td>{{ item.b_id }}</td>
        <td>{{ item.mva }}</td>
      </tr>
    </tbody>
  </table>
</div>